<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.OrdersInfoMapper">
	<resultMap id="BaseResultMap" type="com.entity.OrdersInfo">
		<id column="ID" property="id" jdbcType="VARCHAR" />
		<result column="USER_ID" property="userId" jdbcType="VARCHAR" />
		<result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
		<result column="GOODS_ID" property="goodsId" jdbcType="VARCHAR" />
		<result column="AMOUNT" property="amount" jdbcType="VARCHAR" />
		<result column="EVAL" property="eval" jdbcType="VARCHAR" />
		<result column="RVAL_CONTENT" property="rvalContent" jdbcType="VARCHAR" />
		<result column="USE_FLAG" property="useFlag" jdbcType="VARCHAR" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="UPDATE_OPERATOR" property="updateOperator"
			jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="CREATE_OPERATOR" property="createOperator"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, USER_ID, ORDER_ID, GOODS_ID, AMOUNT, EVAL,
		RVAL_CONTENT,
		USE_FLAG,
		REMARK, STATUS,
		UPDATE_TIME, UPDATE_OPERATOR,
		CREATE_TIME,
		CREATE_OPERATOR
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from orders_info
		where ID = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		orders_info
		where ID = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.entity.OrdersInfo">
		insert into orders_info (ID,
		USER_ID, ORDER_ID,
		GOODS_ID, AMOUNT, EVAL,
		RVAL_CONTENT, USE_FLAG,
		REMARK,
		STATUS, UPDATE_TIME, UPDATE_OPERATOR,
		CREATE_TIME,
		CREATE_OPERATOR)
		values (#{id,jdbcType=VARCHAR},
		#{userId,jdbcType=VARCHAR},
		#{orderId,jdbcType=VARCHAR},
		#{goodsId,jdbcType=VARCHAR},
		#{amount,jdbcType=VARCHAR},
		#{eval,jdbcType=VARCHAR},
		#{rvalContent,jdbcType=VARCHAR},
		#{useFlag,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{status,jdbcType=VARCHAR},
		#{updateTime,jdbcType=TIMESTAMP},
		#{updateOperator,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{createOperator,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.entity.OrdersInfo">
		insert into orders_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="orderId != null">
				ORDER_ID,
			</if>
			<if test="goodsId != null">
				GOODS_ID,
			</if>
			<if test="amount != null">
				AMOUNT,
			</if>
			<if test="eval != null">
				EVAL,
			</if>
			<if test="rvalContent != null">
				RVAL_CONTENT,
			</if>
			<if test="useFlag != null">
				USE_FLAG,
			</if>
			<if test="remark != null">
				REMARK,
			</if>
			<if test="status != null">
				STATUS,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
			<if test="updateOperator != null">
				UPDATE_OPERATOR,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="createOperator != null">
				CREATE_OPERATOR,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=VARCHAR},
			</if>
			<if test="goodsId != null">
				#{goodsId,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=VARCHAR},
			</if>
			<if test="eval != null">
				#{eval,jdbcType=VARCHAR},
			</if>
			<if test="rvalContent != null">
				#{rvalContent,jdbcType=VARCHAR},
			</if>
			<if test="useFlag != null">
				#{useFlag,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateOperator != null">
				#{updateOperator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createOperator != null">
				#{createOperator,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.entity.OrdersInfo">
		update orders_info
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="orderId != null">
				ORDER_ID = #{orderId,jdbcType=VARCHAR},
			</if>
			<if test="goodsId != null">
				GOODS_ID = #{goodsId,jdbcType=VARCHAR},
			</if>
			<if test="amount != null">
				AMOUNT = #{amount,jdbcType=VARCHAR},
			</if>
			<if test="eval != null">
				EVAL = #{eval,jdbcType=VARCHAR},
			</if>
			<if test="rvalContent != null">
				RVAL_CONTENT = #{rvalContent,jdbcType=VARCHAR},
			</if>
			<if test="useFlag != null">
				USE_FLAG = #{useFlag,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				STATUS = #{status,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateOperator != null">
				UPDATE_OPERATOR = #{updateOperator,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createOperator != null">
				CREATE_OPERATOR = #{createOperator,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.entity.OrdersInfo">
		update orders_info
		set USER_ID = #{userId,jdbcType=VARCHAR},
		ORDER_ID =
		#{orderId,jdbcType=VARCHAR},
		GOODS_ID = #{goodsId,jdbcType=VARCHAR},
		AMOUNT
		= #{amount,jdbcType=VARCHAR},
		EVAL = #{eval,jdbcType=VARCHAR},
		RVAL_CONTENT = #{rvalContent,jdbcType=VARCHAR},
		USE_FLAG =
		#{useFlag,jdbcType=VARCHAR},
		REMARK = #{remark,jdbcType=VARCHAR},
		STATUS = #{status,jdbcType=VARCHAR},
		UPDATE_TIME =
		#{updateTime,jdbcType=TIMESTAMP},
		UPDATE_OPERATOR =
		#{updateOperator,jdbcType=VARCHAR},
		CREATE_TIME =
		#{createTime,jdbcType=TIMESTAMP},
		CREATE_OPERATOR =
		#{createOperator,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=VARCHAR}
	</update>

	<!-- 自定义 -->
	<select id="getTotal" parameterType="com.entity.OrdersInfo"
		resultType="int">
		SELECT COUNT(*) FROM orders_info where
		status != 'D'
		<if test="orderId != null and orderId !=''">
		and order_id = #{orderId}
		</if>
		<if test="goodsId != null and goodsId !=''">
		and goods_id = #{goodsId}
		and eval != '' and eval is not null
		</if>
	</select>
	<select id="getList" resultMap="BaseResultMap" parameterType="com.entity.OrdersInfo">
		select
		oi.*,g.name as goodsName,g.goods_img as goodsImg,u.nick_name as nickName
		from orders_info
		oi
		left join goods g on g.id = oi.goods_id
		left join users u on u.id = oi.user_id
		where oi.status != 'D'
		<if test="orderId != null and orderId !=''">
		and oi.order_id = #{orderId}
		</if>
		<if test="goodsId != null and goodsId !=''">
		and oi.goods_id = #{goodsId}
		and oi.eval != '' and oi.eval is not null
		</if>
	</select>
</mapper>